body {
    background-image: url("/images/bg1.jpg");
    background-size: cover;
    /* background-size: cover cover; */
    background-repeat: no-repeat;
    min-height: 100vh;
    text-align: center;
}

html {
    min-height: 100%;
}

.name {
    padding-top: 320px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 4rem;
    /* color: rgb(204, 204, 204); */
}

.main {
    display: flex;
    position: absolute;
    border: none;
    width: auto;
    height: auto;
    top: 250px;
    left: 400px;
    text-align: center;
}

.passion {
    text-align: center;
    padding-top: 10px;
    display: inline-flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.05rem;
}

.clhid1 {
    padding-top: 2px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    opacity: .7;
    font-size: .8em;
    width: 150px;
    display: inline-block;
    color: rgb(24, 95, 92);
}

.clhid1:hover {
    opacity: 0;
}

.passion1 {
    padding-right: 20px;
}

.passion2 {
    padding-right: 20px;
}

.passion3 {
    padding-right: 20px;
}

a {
    padding-right: 10px;
}

.links {
    padding-top: 15px;
}

.clhid {
    padding-top: 15px;

}
