body {
    background-image: url("/images/bg1.jpg");
    background-size: cover;
    background-size: cover cover;
    background-repeat: no-repeat;
    /* background-size: 100%; */
    min-height: 100%;
    text-align: center;
}

html {
    min-height: 100%;
}

.name {
    /* display: flex;
    padding: 22% 40% 0% 40%; */
    padding-top: 320px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 4rem;
    color: rgb(0, 0, 0);
    /* position: relative; */
    /* width: 500px; */
}

.main {
    display: flex;
    position: absolute;
    border: none;
    width: auto;
    height: auto;
    top: 250px;
    left: 400px;
    text-align: center;
}

.passion {
    /* padding: 2% 40%; */
    text-align: center;
    padding-top: 10px;
    display: inline-flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.05rem;
}

.passion1 {
    padding-right: 20px;
}

.passion2 {
    padding-right: 20px;
}
